<div class="jumbotron">
  <footer>
    <div class="container">
      <div class="row text-center">
        <div style="margin: 24px 0;">
          <span style="margin: 0 16px;" class="glyphicon glyphicon-flag" aria-hidden="true"></span>
          <span style="margin: 0 16px;" class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          <span style="margin: 0 16px;" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <span style="margin: 0 16px;" class="glyphicon glyphicon-plane" aria-hidden="true"></span>
          <span style="margin: 0 16px;" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          <span style="margin: 0 16px;" class="glyphicon glyphicon-magnet" aria-hidden="true"></span>
        </div>
        <div class="copyright col-md-12">
          Rust. Theme by cnblackj Powered by Bootstrap
        </div>
      </div>
    </div>
  </footer>
</div>