<div class="header-content layout-max-width">
  <div class="logo">
    <a href="/">
      <img class="logo-img" src="/img/rust-logo.svg"/>
    </a>
    <a href="/">
      <div class="logo-title">{{"title"|i18n}}</div>
    </a>

    <div class="global-search">
      <input type="text">
    </div>
  </div>

  <div class="menus">
    <a href="/">首页</a>
    <a href="/">未读消息</a>
    <a href="/">新手入门</a>
    <a href="/">关于</a>
    <a href="/">设置</a>
    <a href="/">API</a>
    <a href="/rss">RSS</a>
    <a href="/account">{{"account"|i18n}}</a>
  </div>
</div>