<div class="layout-container">
  <div class="header-container">
    {% include "forum/v2/header.html" %}
  </div>

  <div class="main-content-container">
    <div class="left-content">
      {% include "forum/v2/main.html" %}
    </div>

    <div class="right-content">
      <div class="user-info-container">
        {% include "forum/v2/user_info.html" %}
      </div>

      <div class="score-rank">
        {% include "forum/v2/score_rank.html" %}
      </div>

      <div class="other-links">
        {% include "forum/v2/other_links.html" %}
      </div>
    </div>
  </div>

  <div class="footer-container">
    {% include "forum/v2/footer.html" %}
  </div>
</div>